/gitignore

# Ignore core settings file
core/settings.py

# Ignore environment variable file
.venv

# Other common Python and project-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.db
*.sqlite
*.log
venv/
